<template name="reserveDialog">
<div class="modal fade" id="reserveDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Reserve an Item</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="reserveForm">
          {{> formGroup name="name" label="Name" value=item.name disabled="disabled"}}
          {{> formGroup name="description" label="Description" value=item.description disabled="disabled"}}
          {{#if item.imageId}}
          <div class="form-group">
            <label for="picture" class="col-xs-4 control-label">Picture:</label>
            <div class="col-xs-8">
              <img style="max-height:100px;" src="{{rootUrl}}/file/{{thumbnailUrl}}">
            </div>
          </div>
          {{/if}}
          {{#if isAdmin}}
          <div class="form-group">
            <label for="assignedTo" class="col-xs-4 control-label">Reserve To:</label>
            <div class="col-xs-8">
              <div class="input-group">
                <input type="text" name="assignedTo" class="form-control">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary" data-action="checkUsername">Check Username</button>
                </span>
              </div>
            </div>
          </div>
          {{/if}}
          {{> formGroup name="requestDate" class="datepicker" label="Date Requested"}}
          {{> formGroup name="returnDate" class="datepicker" label="Expected Return Date" placeholder="optional"}}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" data-action="cancel">Cancel</button>
        <button type="button" class="btn btn-primary pull-right" data-action="submit">Reserve Item</button>
      </div>
    </div>
  </div>
</div>
</template>

