<template name="reserveDialog">
<div class="modal fade" id="reserveDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Reserve an Item</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" id="reserveForm">
          <div class="form-group">
            <label for="reserveName" class="col-xs-4 control-label">Name: </label>
            <div class="col-xs-8">
              <input type="text" class="form-control" name="name" id="reserveName" disabled="disabled" value="{{item.name}}">
            </div>
          </div>
          <div class="form-group">
            <label for="reserveDescription" class="col-xs-4 control-label">Description:</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" name="description" id="reserveDescription" disabled="disabled" value="{{item.description}}">
            </div>
          </div>
          <div class="form-group">
            <label for="reservePicture" class="col-xs-4 control-label">Picture:</label>
            <div class="col-xs-8">
              <span>Picture goes here</span>
            </div>
          </div>
          {{#if isAdmin}}
          <div class="form-group">
            <label for="reserveAssignedTo" class="col-xs-4 control-label">Reserve To:</label>
            <div class="col-xs-8">
              <div class="input-group">
                <input type="text" id="reserveAssignedTo" class="form-control">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-success" id="reserveCheckName">Check Username</button>
                </span>
              </div>
            </div>
          </div>
          {{/if}}
          <div class="form-group">
            <label for="reserveRequestDate" class="col-xs-4 control-label datepicker">Date Requested:</label>
            <div class="col-xs-8">
              <input type="text" id="reserveRequestDate" class="form-control">
              {{#if reserveError}}<span class="unavailable">{{reserveError}}</span>{{/if}}
            </div>
          </div>
          <div class="form-group">
            <label for="reserveReturnDate" class="col-xs-4 control-label datepicker">Expected Return Date:</label>
            <div class="col-xs-8">
              <input type="text" id="reserveReturnDate" class="form-control" placeholder="optional">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" data-action="cancelReserve">Cancel</button>
        <button type="button" class="btn btn-primary pull-right" data-action="reserveItem">Reserve Item</button>
      </div>
    </div>
  </div>
</div>
</template>

