<template name="newCheckoutDialog">
<button  data-toggle="modal" data-target="#newCheckout" class="newCheckoutBtn pull-right btn-success btn btn-sm">Add new Checkout item</button>
<div class="modal fade" id='newCheckout'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{#if item}}Edit Item{{else}}Add new Checkout Item{{/if}}</h4>
      </div>
      <div class="modal-body">
        <table>
          <th width="25%"></th><th></th>
          <tr>
            <td><label for="name">Item Name:</label></td>
            <td><input type="text" size="35" class="input input-xlarge name checkoutInput" name="name" id="name" value="{{item.name}}"></td>
          </tr>
          <tr>
            <td><label for="description">Description:</label></td>
            <td><input type="text" size="60" class="input input-xlarge description checkoutInput" name="description" id="description" value="{{item.description}}"></td>
          </tr>
          <tr>
            <td><label for="serialNo">Serial Number or Service Tag:</label></td>
            <td><input type="text" placeholder="optional" class="input input-xlarge serialNo checkoutInput" name="serialNo" id="serialNo" value="{{item.serialNo}}"></td>
          </tr>
          <tr>
            <td><label for="propertyTag">Property Tag:</label></td>
            <td><input type="text" placeholder="optional" class="input input-xlarge propertyTag checkoutInput" name="propertyTag" id="propertyTag" value="{{item.propertyTag}}"></td>
          </tr>
          <tr>
            <td><label>Category:</label></td>
            <td>{{> inputAutocomplete settings=categoryHelper id="newCheckoutCategory" class="input-xlarge" placeholder="Enter a category..." value=item.category }}</td>
          </tr>
          <tr>
            <td><label>Picture:</label></td>
            <td>{{#if isCordova}}<button type="button" class="btn btn-primary" id="takePicture">Take Picture</button>{{/if}}<button type="button" class="btn btn-primary" id="uploadPicture">Upload Picture</button></td>
          </tr>
          <tr>
            <td><label>Barcode:</label></td>
            <td>{{#if isCordova}}<button type="button" class="btn btn-primary" id="scanBarcode">Scan Barcode</button>{{/if}}
              <input type="text" size="35" name="barcode" placeholder="Enter barcode numerical value" value="{{item.barcode}}"></td>
          </tr>
        </table>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" id="cancelButton" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="submitButton">{{#if item}}Edit Item{{else}}Submit Item{{/if}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<template name="noMatchTemplate">
Create new category: {{input}}
</template>
