<template name="newCheckout">
<button  data-toggle="modal" data-target="#newCheckout" class="newCheckoutBtn pull-right btn-success btn btn-sm">Add new Checkout item</button>
<div class="modal fade" id='newCheckout'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Add new Checkout Item</h4>
      </div>
      <div class="modal-body">
        <table>
          <th width="25%"></th><th></th>
          <tr>
            <td><label for="name">Item Name:</label></td>
            <td><input type="text" class="input input-xlarge name checkoutInput" name="name" value="{{checkout.name}}" id="name"></td>
          </tr>
          <tr>
            <td><label for="description">Description:</label></td>
            <td><input type="text" class="input input-xlarge description checkoutInput" name="description" value="{{checkout.description}}" id="description"></td>
          </tr>
          <tr>
            <td><label for="serialNo">Serial Number or Service Tag: (optional)</label></td>
            <td><input type="text" class="input input-xlarge serialNo checkoutInput" name="serialNo" value="{{checkout.serialNo}}" id="serialNo"></td>
          </tr>
          <tr>
            <td><label for="propertyTag">Property Tag: (optional)</label></td>
            <td><input type="text" class="input input-xlarge propertyTag checkoutInput" name="propertyTag" value="{{checkout.propertyTag}}" id="propertyTag"></td>
          </tr>
          <tr>
            <td><label>Category:</label></td>
            <td><select id="category" placeholder="Select a category">
            </select></td>
          </tr>
          <tr>
            <td><label>Picture:</label></td>
            <td>Upload/picture taking buttons go here</td>
          </tr>
          <tr>
            <td><label>Barcode:</label></td>
            <td>Option to just manually enter Barcode #? Otherwise we're limited to just creating items from mobile.</td>
          </tr>
        </table>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="submitItem">Submit Item</button>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

