<template name="checkoutDialog">
<button data-toggle="modal" data-target="#checkoutDialog" class="checkoutDialogBtn pull-left btn-success btn btn-sm">{{#if isCordova}}Scan an item{{else}}Check an item in or out{{/if}}</button>
<div class="modal fade" id="checkoutDialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Check an item in or out</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      </div>
      <div class="modal-body">
        <table>
          <th width="25%"></th><th></th>
          <tr>
            <td><label for="Search">Find an item by Name or Barcode:</label></td>
            <td>{{> inputAutocomplete settings=settings id="searchFields" class="form-control" name="searchFields" placeholder="Search by name or barcode..."}}</td>
          </tr>
          <th width="142px"></th><th></th>
          <tr class="hiddenRow" style="display: none;">
            <td><label for="Description">Description:</label></td>
            <td><input type="text" size="60" class="input input-xlarge description checkoutInput" name="description" id="codDescription" disabled="disabled"></td>
          </tr>
          <tr class="hiddenRow" style="display: none;">
            <td><label for="Picture">Picture:</label></td>
            <td><span>Picture goes here</span></td>
          </tr>
           <tr class="hiddenRow" style="display: none;">
            <td><label for="codAssignedTo" id="codAssignedToLabel">Assign this item to:</label></td>
            <td><input type="text" size="25" class="input input-xlarge assignedTo checkoutInput" name="codAssignedTo" id="codAssignedTo"></td>
          </tr>
          <tr class="hiddenRow" style="display: none;">
            <td><label for="codDatepicker">Expected Date Returned:</label></td>
            <td><input type="text" id="codDatepicker" class="input input-xlarge datepicker checkoutInput" name="codDatepicker"></td>
          </tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" id="cancelButton" data-dismiss="modal">Cancel</button>
        <button style="display: none;"  type="button" class="btn btn-primary pull-right" id="submitButton">Check Out</button>
      </div>
    </div>
  </div>
</div>
</template>

<template name="searchFields">
<span style="color: white; background-color: #00008B">{{barcode}}</span> {{name}}
</template>
