<template name="checkoutDialog">
<button data-toggle="modal" data-action="openCheckoutDialog" class="pull-left btn-success btn btn-sm">{{#if isCordova}}Scan an item{{else}}Check an item in or out{{/if}}</button>
<div class="modal fade" id="checkoutDialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Check an item in or out</h4>
      </div>
      <div class="modal-body">
        {{#if error}}<span class="unavailable">{{error}}</span>{{/if}}
        <form class="form-horizontal" id="checkoutForm">
          <div class="form-group">
            <label for="name" class="col-xs-4 control-label">Find an item by Name or Barcode:</label>
            <div class="col-xs-8">
              {{> inputAutocomplete settings=settings class="form-control" value=item.name name="name" placeholder="Search by name or barcode..."}}
            </div>
          </div>
          <div class="form-group" style="display: {{hidden}};">
            <label for="description" class="col-xs-4 control-label">Description:</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" name="description" disabled="disabled" value="{{item.description}}">
            </div>
          </div>
          {{#if item.imageId}}
          <div class="form-group">
            <label for="picture" class="col-xs-4 control-label">Picture:</label>
            <div class="col-xs-8">
              <img style="max-height:100px;" src="{{rootUrl}}/file/{{thumbnailUrl}}">
            </div>
          </div>
          {{/if}}
          <div class="form-group" style="display: {{hidden}};">
            <label for="assignedTo" class="col-xs-4 control-label">{{#if item.assignedTo}}Checked Out To:{{else}}Assign item to:{{/if}}</label>
            <div class="col-xs-8">
              <div class="input-group">
                <input type="text" class="form-control" style="{{attr}}" {{disabled}} name="assignedTo" value="{{item.assignedTo}}">
                {{#unless item.assignedTo}}<span class="input-group-btn">
                  <button type="button" class="btn btn-primary" data-action="checkUsername">Check Username</button>
                </span>{{/unless}}
              </div>
              {{#if checkoutAssignedToError}}<span class="unavailable">{{checkoutAssignedToError}}</span>{{/if}}
            </div>
          </div>
          <div class="form-group" style="display: {{hidden}};">
            <label for="returnDate" class="col-xs-4 control-label">Expected Return Date:</label>
            <div class="col-xs-8">
              <input type="text" name="returnDate" class="form-control datepicker" style="{{attr}}" {{disabled}} placeholder="{{#unless item.assignedTo}}optional{{/unless}}" value="{{item.expectedReturn}}">
              {{#if checkoutExpectedReturnError}}<span class="unavailable">{{checkoutExpectedReturnError}}</span>{{/if}}
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-action="cancel" data-dismiss="modal">Cancel</button>
        <button style="display: {{hidden}};"  type="button" class="btn btn-primary pull-right" data-action="submit">{{#if item.assignedTo}}Check In{{else}}Check Out{{/if}}</button>
      </div>
    </div>
  </div>
</div>
</template>

<template name="searchFields">
<span style="color: white; background-color: #00008B">{{barcode}}</span> {{name}}
</template>
