<template name="navBar">
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">A&S Checkouts</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">A&S Checkouts</a>
  </div>
  {{#if currentUser }}
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{currentUser.username}}
        <img src="http://as.uky.edu/profile-picture/{{currentUser.username}}" height="20" width="20">
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Settings</a></li>
        <li class="divider"></li>
        <li><a href="#" id="logout">Logout</a></li>
      </ul>
      </li>
    </ul>

      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          {{> inputAutocomplete settings=settings class="form-control" id="textSearch" placeholder="Filter by token, or type !help" size="22"}}
        </div>
      </form>

    </div><!-- /.navbar-collapse -->
    {{/if}}
  </div><!-- /.container-fluid -->
  </nav>
  </template>

<template name="searchHelp">
Enter a token to search by category, user assigned to, status, or name. Examples:
<ul>
  <li>#laptop</li>
  <li>@sdsmit2</li>
  <li>status:unavailable</li>
  <li>name:vostro</li>
</ul>
</template>

<template name="searchTokenCategory">
{{category}}
</template>

<template name="searchTokenAssigned">
{{assignedTo}}
</template>

<template name="searchTokenStatus">
{{status}}
</template>
