<template name="navBar">
<nav class="navbar yamm navbar-default" role="navigation">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">A&S Checkouts</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">A&S Checkouts</a>
  </div>
  {{#if currentUser }}
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        Filters<b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li>
        <div class="yamm-content">
          <div class="row">
            <ul class="col-sm-2 list-unstyled">
              <li>
              <p><strong>Category</strong></p>
              </li>
              {{#each category}}
              <li>
              <label for="filter{{name}}">
                <input type="checkbox" id="filter{{name}}" name="{{name}}" data-item="{{name}}" {{checked}} class="categoryBox">
                <a class="changeCategoryFilter">{{name}}</a>
              </label>
              </li>
              {{/each}}
            </ul>
            <ul class="col-sm-2 list-unstyled">
              <li>
              <p><strong>Availability</strong></p>
              </li>
              <li><label for="filterAll"><input id="filterAll" name="radio" type="radio" data-action="setAvailableFilter" data-item="Any" checked="checked">
                <a class="changeAvailabilityFilter">All</a>
              </label></li>
              <li><label for="filterAvailable"><input id="filterAvailable" name="radio" type="radio" data-action="setAvailableFilter" data-item="Available">
                <a class="changeAvailabilityFilter">Available</a>
              </label></li>
              <li><label for="filterUnavailable"><input id="filterUnavailable" name="radio" type="radio" data-action="setAvailableFilter" data-item="Unavailable">
                <a class="changeAvailabilityFilter">Unavailable</a>
              </label></li>
            </ul>
          </div>
        </div>
        </li>
      </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        {{currentUser.username}}
        <img src="https://as.uky.edu/profile-picture/{{currentUser.username}}" style="max-height: 23px; max-width: 100px;">
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Settings</a></li>
        <li class="divider"></li>
        <li><a href="#" id="logout">Logout</a></li>
      </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  {{/if}}
</div><!-- /.container-fluid -->
</nav>
</template>
