.hiddenRow {
    padding: 0 !important;
}

.available {
  font-weight: bold;
  color: green;
}

.unavailable {
  font-weight: bold;
  color: red;
}

table {
  max-width: none;
  word-wrap: break-word;
}
