<template name="checkouts">
{{#if isAdmin}}
{{> checkoutDialog}}
{{> newCheckout}}
{{/if}}
<br/>
<br/>
<table class="table table-striped" style="border-collapse:collapse;">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Picture</th>
      <th>Name</th>
      <th>Description</th>
      <th>Item Type</th>
      <th>Checked Out</th>
      <th>Expected Return Date</th>
    </tr>
  </thead>
  <tbody>
    <tr></tr>
    {{#each checkoutItem}}
    {{> checkoutRow}}
    {{/each}}
  </tbody>
</table>
</template>

<template name="checkoutButtons">
<button class="checkoutBtn pull-left btn-success btn btn-sm" id="checkOutButton">Scan a Barcode</button>
</template>

<template name="checkoutRow">
<tr data-toggle="collapse" data-target="#{{_id}}" class="accordion-toggle">
  <td>
    <span class="glyphicon glyphicon-plus"></span>
  </td>
  <td>
    <img src="http://placehold.it/50x50">
  </td>
  <td>
    <strong>{{name}}</strong>
  </td>
  <td>
    {{description}}
  </td>
  <td>
    {{category}}
  </td>
  <td>
    {{#if assignedTo}}<span class="unavailable">
      {{#if isAdmin}}
      Checked out to: {{assignedTo}}
      {{else}}
      Unavailable
      {{/if}}</span>
    {{else}}
    <span class="available">Available</span>
    {{/if}}
  </td>
  <td>
    {{#if schedule.expectedReturn}}{{schedule.expectedReturn}}{{/if}}
  </td>
</tr>
<tr>
  <td colspan='7' class="hiddenRow">
    <div class="accordian-body collapse" id="{{_id}}">
      Serial No: {{serialNo}}
      <button class="checkoutBtn pull-right btn-success btn btn-sm" id="checkItemButton">{{#if assignedTo}}{{#if isAdmin}}Check In{{/if}}{{else}}{{#if isAdmin}}Check Out{{else}}Reserve this item{{/if}}{{/if}}</button><br />
      Property Tag: {{propertyTag}}
    </div>
  </td>
</tr>
</template>
