<template name="deleteItemDialog">
<div class="modal fade" id="deleteItem">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Item</h4>
      </div>
      <div class="modal-body">
        You are deleting the following item. <br>
        Are you sure you want to continue? This action is permanent.
       <form class="form-horizontal">
          <div class="form-group">
            <label for="name" class="col-xs-4 control-label">Item Name:</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" name="name" value="{{item.name}}" disabled>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-xs-4 control-label">Description:</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" name="description" value="{{item.description}}" disabled>
            </div>
          </div>
          <div class="form-group">
            <label for="serialNo" class="col-xs-4 control-label">Serial Number/Service Tag:</label>
            <div class="col-xs-8">
              <input type="text" placeholder="optional" class="form-control" name="serialNo" value="{{item.serialNo}}" disabled>
            </div>
          </div>
          <div class="form-group">
            <label for="propertyTag" class="col-xs-4 control-label">Property Tag:</label>
            <div class="col-xs-8">
              <input type="text" name="propertyTag" class="form-control" value="{{item.propertyTag}}" disabled>
            </div>
          </div>
          <div class="form-group">
            <label for="category" class="col-xs-4 control-label">Category:</label>
            <div class="col-xs-8">
              <input type="text" value="{{item.category}}" class="form-control" disabled>
            </div>
          </div>
          <div class="form-group">
            <label for="picture" class="col-xs-4 control-label">Picture:</label>
            <div class="col-xs-8">
            </div>
          </div>
          <div class="form-group">
            <label for="barcode" class="col-xs-4 control-label">Barcode:</label>
            <div class="col-xs-8">
              <input type="text" name="barcode" class="form-control"  value="{{item.barcode}}" disabled>
            </div>
          </div>
        </form> 
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left"  data-dismiss="modal" data-action="cancelDeleteItem">Cancel</button>
          <button type="button" class="btn btn-danger" data-action="deleteItem">Delete Item</button>
        </div>
      </div>
    </div>
  </div>
</div>
</template>
