<head>
  <title>A&S Checkouts</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" sizes="32x32" href="/favicon.png">
</head>

<template name="layoutTemplate">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      {{> navBar}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      {{#if currentUser}}
      {{> yield}}
      {{else}}
      {{> login}}
      {{/if}}
    </div>
  </div>
</div>
</template>


