.sidebar .block {
  width: 192px;
  background-color: #FFFFFF;
  border-color: #666;
  border: 1px solid;
  padding: 8px;
  margin: 0px 0px 20px;
}

.sidebar .block .content {
  font-size: 0.914em;
  line-height: 1.4;
}
.sidebar .block h2 {
  margin: 0px 0px 0.5em;
  border-bottom: 1px solid #D6D6D6;
  padding-bottom: 5px;
  text-shadow: 0px 1px 0px #FFF;
  font-size: 1.071em;
  line-height: 1.2;
}

