<template name="sidebar">
<nav class="bs-docs-sidebar hidden-print hidden-xs hidden-sm affix">
<div class="sidebar">
  <!-- Text Search -->
  <div class="block">
    <h2>Current filters:</h2>
    <div class="content">
      <ul id="textFilters" class="list-unstyled animated">
        <li>Availability: {{availableFilter}}</li>
        {{#each filters}}<li class="fade"><a href="#" class="removeFilter"><span class="glyphicon glyphicon-remove" id="{{id}}"></span></a> {{type}}: {{text}}</li>{{/each}}
      </ul>
    </div>
  </div>
</div>
</nav>
</template>
