<template name="itemDialog">
<button  data-toggle="modal" data-target="#newCheckout" class="newCheckoutBtn pull-right btn-success btn btn-sm">Add new Checkout item</button>
<div class="modal fade" id='newCheckout'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{#if item}}Edit Item{{else}}Add new Checkout Item{{/if}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="name" class="col-xs-4 control-label">Item Name:</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" name="name" id="name" value="{{item.name}}">
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-xs-4 control-label">Description:</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" name="description" id="description" value="{{item.description}}">
            </div>
          </div>
          <div class="form-group">
            <label for="serialNo" class="col-xs-4 control-label">Serial Number/Service Tag:</label>
            <div class="col-xs-8">
              <input type="text" placeholder="optional" class="form-control" name="serialNo" id="serialNo" value="{{item.serialNo}}">
            </div>
          </div>
          <div class="form-group">
            <label for="propertyTag" class="col-xs-4 control-label">Property Tag:</label>
            <div class="col-xs-8">
              <input type="text" placeholder="optional" class="form-control" name="propertyTag" id="propertyTag" value="{{item.propertyTag}}">
            </div>
          </div>
          <div class="form-group">
            <label for="category" class="col-xs-4 control-label">Category:</label>
            <div class="col-xs-8">
              {{> inputAutocomplete settings=categoryHelper id="itemCategory" class="form-control" placeholder="Enter a category..." value=item.category }}
            </div>
          </div>
          <div class="form-group">
            <label for="picture" class="col-xs-4 control-label">Picture:</label>
            <div class="col-xs-8">
              {{#if isCordova}}<button type="button" class="btn btn-primary pull-left" id="takePicture">Take Picture</button>{{/if}}
              <button type="button" class="btn btn-primary pull-left" id="uploadPicture">Upload Picture</button>
              &nbsp;&nbsp;{{imageName}}
            </div>
          </div>
          <div class="form-group">
            <label for="barcode" class="col-xs-4 control-label">Barcode:</label>
            <div class="col-xs-8">
              {{#if isCordova}}<button type="button" class="btn btn-primary" id="scanBarcode">Scan Barcode</button>{{/if}}
              <input type="text" name="barcode" class="form-control" placeholder="Enter barcode number" value="{{item.barcode}}">
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" id="itemCancelButton" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="itemSubmitButton">{{#if item}}Edit Item{{else}}Add Item{{/if}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<template name="noMatchTemplate">
Create new category: {{input}}
</template>

<template name="categorySearch">
{{category}}
</template>
