<template name="itemDialog">
<div class="modal fade" id='itemDialog'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{#if item}}Edit Item{{else}}Add new Checkout Item{{/if}}</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="name" class="col-xs-4 control-label">Item Name:</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" name="name" value="{{item.name}}">
              <span class="error" name="name" style="display: none;">Error</span>
            </div>
          </div>
          <div class="form-group">
            <label for="category" class="col-xs-4 control-label">Category:</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" name="category" value="{{item.category}}">
              <span class="error" name="category" style="display: none;">Error</span>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="col-xs-4 control-label">Description:</label>
            <div class="col-xs-8">
              <input type="text" class="form-control" name="description" placeholder="optional" value="{{item.description}}">
            </div>
          </div>
          <div class="form-group">
            <label for="serialNo" class="col-xs-4 control-label">Serial Number/Service Tag:</label>
            <div class="col-xs-8">
              <input type="text" placeholder="optional" class="form-control" name="serialNo" value="{{item.serialNo}}">
            </div>
          </div>
          <div class="form-group">
            <label for="propertyTag" class="col-xs-4 control-label">Property Tag:</label>
            <div class="col-xs-8">
              <input type="text" placeholder="optional" class="form-control" name="propertyTag" value="{{item.propertyTag}}">
            </div>
          </div>
          <div class="form-group">
            <label for="picture" class="col-xs-4 control-label">Picture:</label>
            <div class="col-xs-8">
              <div class="input-group">
                <input type="text" name="imageName" class="form-control" disabled value="{{imageName}}">
                {{#if isCordova}}<span class="input-group-btn"><button type="button" class="btn btn-primary" data-action="takePicture">Take Picture</button></span>
                {{else}}<span class="input-group-btn"><button type="button" class="btn btn-primary" data-action="uploadPicture">Upload Picture</button></span>{{/if}}
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="barcode" class="col-xs-4 control-label">Barcode:</label>
            <div class="col-xs-8">
              {{#if isCordova}}
              <div class="input-group">
                <input type="text" name="barcode" class="form-control" placeholder="Enter barcode number" value="{{item.barcode}}">
                <span class="input-group-btn"><button type="button" class="btn btn-primary" data-action="scanBarcode">Scan Barcode</button></span>
              </div>
              {{#if scanError}}<span class="error">{{scanError}}</span>{{/if}}
              {{else}}
              <input type="text" name="barcode" class="form-control" placeholder="Enter barcode number" value="{{item.barcode}}">
              {{/if}}
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default pull-left" data-action="cancel" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-action="submit">{{#if item}}Edit Item{{else}}Add Item{{/if}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<template name="noMatchTemplate">
Create new category: {{input}}
</template>

<template name="categorySearch">
{{category}}
</template>
